* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a img {
	border: none;
}
img {
	max-width: 100%;
	height: auto;
}
.header-bg {
	background: url(images/header-bg.png) center center no-repeat;
	background-size: cover;
	width: 100%;
	/*min-height: 535px;*/
	margin: 0 auto;
}
.header-shadow {
	width: 100%;
	height: 100%;
	background: linear-gradient(315.06deg, rgba(21, 38, 73, 0.8) 5%, rgba(79, 82, 92, 0.8) 100%);
}
header {
	width: 66%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 38px;
	margin-bottom: 80px;
}
.logo {
	width: 96px;
	height: 23px;
}
nav a {
	font: 400 16px/24px Inter sans-serif;
	color: #dbe4f1;
	margin-right: 40px;
}
nav a:last-of-type {
	margin-right: 0;
}
nav a:hover {
	text-decoration: underline;
}

.header-text {
	width: 585px;
	margin: 0 auto;
	padding-bottom: 126px;
}
.title {
	font: 700 46px/68px Inter sans-serif;
	font-family: Inter;
	letter-spacing: -0.3px;
	text-align: center;
	color: #fff;
}
.text {
	font: 400 20px/34px Inter sans-serif;
	letter-spacing: 0px;
	text-align: center;
	color: #dbe4f1;
}
.header-text__text {
	margin: 0 25px 27px 25px;
}
.header-text__stext {
	font: 400 14px/28px Inter sans-serif;
	letter-spacing: 0px;
	text-align: center;
	color: #dbe4f1;
}
.header-text__bottom {
	display: block;
	height: 50px;
	width: 227px;
	margin: 0 auto;
	margin-bottom: 11px;
	border-radius: 3px;
	background-color: #50e3c2;
	font: 600 16px/50px Inter sans-serif;
	font-family: Inter;
	letter-spacing: 0px;
	text-align: center;
	color: #0f3d33;
}
.header-text__bottom:hover {
	color: #50e3c2;
	background-color: #0f3d33;
}

.about-us {
	max-width: 1103px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 120px 0;
}
.about-us__block {
	width: 307px;
}
.about-round {
	width: 10px;
	height: 10px;
	margin: 0 auto;
	margin-bottom: 33px;
	padding: 20px;
	border-radius: 50px;
}
.about-round__round {
	width: 10px;
	height: 10px;
	border-radius: 10px;
}
.block-red {
	background-color: rgba(252, 92, 101, 0.3);
}
.round-red {
	background-color: rgba(252, 92, 101, 1);
}
.block-green {
	background-color: rgba(80, 227, 194, 0.3);
}
.round-green {
	background-color: rgba(80, 227, 194, 1);
}
.block-pink {
	background-color: rgba(166, 101, 251, 0.3);
}
.round-pink {
	background-color: rgba(166, 101, 251, 1);
}

.about-us__line {
	width: 1px;
	height: 111px;
	background-color: #e8e8Ea;
}
.subtitle {
	font: 700 22px/34px Inter sans-serif;
	font-family: Inter;
	letter-spacing: 0px;
	text-align: center;
	color: #323232;
}
.about-us__subtitle {
	margin-bottom: 24px;
}
.text-medium {
	font: 400 18px/34px Inter sans-serif;
	letter-spacing: 0px;
	text-align: center;
	color: #323232;
}

.graph-bg {
		background-color: #f8fbfe;
}
.graph {
	max-width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 120px 0;
}
.graph-images {
	display: flex;
}
.graph-img {
	box-shadow: 10px 10px 25px #ccc;
}
.img-top {
	align-self: baseline;
}
.img-bottom {
	margin-left: -130px;
	margin-top: 100px;
	
}
.graph-text {
	float: right;
	width: 436px;
	margin-bottom: 60px;
}
.big-text {
	font: 700 38px/50px Inter sans-serif;
	letter-spacing: -0.3px;
	color: #000;
}
.graph-text__big-text, .activity-text__big-text {
	padding-right: 40px;
	margin-bottom: 14px;
	margin-top: 55px;
	text-align: left;
}
.graph-text__text-medium, .activity-text__text-medium {
	text-align: left;
	padding-right: 15px;
	margin-bottom: 30px;
}
.button-start {
	display: inline-block;
	border-radius: 3px;
	background-color: rgba(80, 227, 194, 0.4);
	color: #0f3d33;
	text-align: center;
	font: 600 16px/19px Inter sans-serif;
	letter-spacing: 0px;
	text-align: center;
	padding: 15px 28px;
}
.graph-text__button:hover {
	color: rgba(80, 227, 194, 0.4);
	background-color: #0f3d33;
}

.activity-conteiner {
	width: 67%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
	padding-bottom: 120px;
	padding-left: 18%;
	padding-right: 15%;
}
.activity-text {
	width: 436px;
}
.activity-images {
	display: flex;
}
.activity-img-left {
	position: relative;
	z-index: 10;
}
.activity-img-right {
	margin: 60px 0 0 -145px;
    align-self: baseline;
}

.movie-container {	
	width: 100%;
}
.movie-video {
	width: 100%;
	display: none;
}
.movie-bg {
	background: url(movie/movie-bg.png) center center no-repeat;
	background-size: cover;
	width: 100%;

}
.movie-shadow {
	width: 100%;
	height: 100%;
	background: linear-gradient(315.06deg, rgba(21, 38, 73, 0.8) 5%, rgba(79, 82, 92, 0.8) 100%);
}
.movie-conteiner {
	width: 49%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px 0;
}
.movie-text__big-text, .movie-text__text-medium {
	color: #fff;
	text-align: center;
}
.movie-button__rect {
	height: 0;
	width: 0;
	border: 15px solid transparent;
	border-left: 20px solid #50e3c2;
}
.movie-button__shadow {
	padding: 38px 28px 38px 43px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 86px/76px;
	margin-bottom: 54px;
}
.movie-text__big-text {
	margin-bottom: 22px;
}

.plan-bg {
	background-color: #f8fbfe;
}
.plan-conteiner {
	max-width: 700px;
	padding: 120px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.plan-text__big-text {
	text-align: center;
	margin-bottom: 20px;
}
.plan-text__text-medium {
	padding: 0 30px;
	margin-bottom: 60px;
}
.plan-toggle {
	display: flex;
	justify-content: center;
	border-radius: 23px;
	border: 1px solid #e8e8eA;
	width: 250px;
	padding: 4px;
}
.toggle-buttom {
	padding: 10px 34px;
	background-color: #f8fbfe;
	font: 600 12px/28px Inter sans-serif;
	letter-spacing: 0px;
	text-transform: uppercase; 
	color: #0f3d33;
	border-radius: 23px;
}
.toggle-active {
	background-color: #50e3c2;
	border-radius: 23px;
	border: 1px solid #0e3c2;
}

