@media (min-width: 600px) and (max-width: 1100px) {
	.about-us, .activity-conteiner, .plan-conteiner, .graph {
		flex-wrap: wrap;
		padding-left: 4%;
		padding-right: 4%;
		justify-content: center;
		margin: 0 auto;
	}
	.about-us__line {
		display: none;
	}
	.about-us__block {
		padding-right: 10%;
		padding-bottom: 50px;
	}
}